@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border: 0;
  font-size: 100%
}
* {
	box-sizing: border-box;
	list-style-type: none;
}

html {
	font-size: 62.5%;
}
body {
	font-family: "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-style: normal;
	line-height: 2;
  list-style-type: none;
	font-size: 1.6rem;
	margin: 0;
}
img {
	max-width: 100%;
	height: auto;
}
a {
  text-decoration: none;
  color: black;
	cursor: pointer;
}
a:hover {
	opacity: 0.8;
}

/**header**/
header {
}
#nav_sp {
	visibility: hidden;
	height: 0;
}
#nav_menu_sp {
	visibility: hidden;
	height: 0;
}
#nav_menu_pc {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1rem 0;
	border-bottom: 1px solid #F5F5F5;
	background-color: rgba(255, 255, 255, 0.98);
	z-index: 5;
}
.nav_menu_container {
	width: 100%;
	padding: 0 17rem;
	overflow: hidden;
	float: left;
}
.nav_left {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-weight: bold;
	padding: 1rem;
	width: 70%;
	display: table-cell;
}
.nav_left_link {
	display: inline-block;
}
.nav_left_link::after {
	content: "|";
	padding: 0 2rem;
	opacity: 0.5;
}
.nav_right {
	width: 30%;
	display: table-cell;
}

.nav_right_link {
	display: inline-block;
}
.nav_right_link.share {
	margin-right: 1rem;
}

/**main**/
h1 {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size: 4rem;
	transition-duration: 2s;
}
h2 {
	font-size: 2.5rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.effect {
	opacity: 0;
	transform: translate(0,6rem);
	-webkit-transform: translate(0,6rem);
}
.move {
	opacity: 1.0;
	transform: translate(0,0);
	-webkit-transform: translate(0,0);
}
.stress {
	color: red;
	font-weight: bold;
}
.button {
	font-family: HiraginoSans-W5, "Hiragino Sans W5", sans-serif;
	font-size: 1.5rem;
	display: inline-block;
	letter-spacing: 0.2rem;
	text-align: center;
	padding: 0.5rem 4rem 0.5rem 2rem;
}
.radius {
	-webkit-border-radius: 3rem;
	-moz-border-radius: 3rem;
	border-radius: 3rem;
}
.radius2 {
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	border-radius: 0.5rem;

}
.button.color-black {
	background: #000;
	color: #fff;
}
.button.color-white {
	border: 1px solid #000;
	background: #fff;
	color: #000;
}
.button.amazon1 {
	background-color: #ECCC79;
	border-color: #C6AA63;
}
.button.text-only {
	padding-right: 2rem;
}
.main_container {
	padding: 10rem 17rem;
	overflow: hidden;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.arrow{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	font-size: 2rem;
}
.button:hover .arrow{
	-webkit-animation-name: move;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: move;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
}
.arrow::before,
.arrow::after{
	position: absolute;
	top: calc(50% - 0.5rem);
	left: 1rem;
	bottom: 0;
	margin: auto;
	content: "";
	vertical-align: middle;
}

.arrow::before{
width: 1.4rem;
height: 1.4rem;
-webkit-border-radius: 50%;
border-radius: 50%;
}

.arrow::after{
left: 1.3rem;
width: 0.4rem;
height: 0.4rem;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}


.arrow.color-white::before {
	background: #fff;
}
.arrow.color-white::after {
	border-top: 0.2rem solid #000;
	border-right: 0.2rem solid #000;
}
.arrow.color-yellow::before {
	background: #000;
}
.arrow.color-yellow::after {
	border-top: 0.2rem solid #ECCC79;
	border-right: 0.2rem solid #ECCC79;
}

.arrow.twitter::before {
	background: #fff;
}
.arrow.twitter::after {
	border-top: 0.2rem solid #1da1f2;
	border-right: 0.2rem solid #1da1f2;
}
.arrow.line::before {
	background: #fff;
}
.arrow.line::after {
	border-top: 0.2rem solid #35bc28;
	border-right: 0.2rem solid #35bc28;
}
.arrow.cakes::before {
	background: #000;
}
.arrow.cakes::after {
	border-top: 0.2rem solid #feda17;
	border-right: 0.2rem solid #feda17;
}
.arrow.note::before {
	background: #fff;
}
.arrow.note::after {
	border-top: 0.2rem solid #2bc5a5;
	border-right: 0.2rem solid #2bc5a5;
}


.arrow.footer::before{
width: 1.4rem;
height: 1.4rem;
-webkit-border-radius: 50%;
border-radius: 50%;
}

.arrow.footer::after{
width: 0.2rem;
height: 0.2rem;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}
.arrow.footer::before,
.arrow.footer::after{
	left: -2rem;
}

.arrow.footer::before {
	background: #767676;
}
.arrow.footer::after {
	left: -1.5rem;
	border-top: 0.1rem solid #000;
	border-right: 0.1rem solid #000;
}

@-webkit-keyframes move{
  50%{
    -webkit-transform:translate(0.5rem, 0px);
  }
  100%{
    -webkit-transform:translate(0px, 0px);
  }
}

/**top**/
	#top {
		width: 100%;
		padding: 20% 0;
		position: relative;
		background: url(img/hero.jpg) no-repeat 50% 50%;
		background-size: cover;
	}
	#top_info {
		position: absolute;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
		font-weight: bold;
		width: 100%;
		text-align: center;
		transition-duration: 2s;
		transform: scale(0.9);
		opacity: 0;
	}
	#top_info.scale {
		transform: scale(1);
		opacity: 1;
	}
	#title {
		font-weight: bold;
		font-size: 6rem;
	}
	#author {
		font-size: 3rem;
	}

/**info**/
#info {
	width: 100%;
	padding-top: 2.5rem;
}
#info_main {
	width: 100%;
	text-align: center;
	padding-bottom: 3rem;
	border-bottom: 1px solid #E0E0E0;
}
#info_main_container {
	width: 100%;
}

#info_sub {
	width: 100%;
	padding: 3rem 0;
}
#info_sub_container {
	width: 100%;
	overflow: hidden;
	padding: 0 10%;
}
.info_sub_box {
	width: 50%;
	float: left;
	text-align: center;
	position: relative;
	transition-duration: 1s;
	padding-bottom: 3rem;
}
.info_sub_box p {
	font-size: 1.5rem;
}
.info_sub_box.left {
	border-right: 1px solid #E0E0E0;
}
.info_sub_box_img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -8.1rem;
	margin-left: -8.1rem;
	z-index: -1;
	opacity: 0.2;
}
.info_sub_button {
	margin-top: 2rem;
}

/**story**/
#story {
	clear: both;
	position: relative;
	background-image: url(img/bg--dark-gray.png) ;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	padding: 0 3rem;
}
.h1_component {
	border: 1px solid #000;
	padding: 0.5rem 0.2rem;
	display: inline-block;
	line-height: 4rem;
}
.h1_component:not(:first-of-type) {
	border-left: none;
}
.h1_component.color-blue {
	color: #fff;
	background-color: #123660;
	border-color: #123660;
}

p.indent {
	text-indent: 1em;
}

#story_text_box_container {
	clear: both;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	overflow: hidden;
	padding-top: 3rem;
}
.story_text_box {
	width: 50%;
	float: left;
	padding: 0 3rem;
	position: relative;
	transition-duration: 2s;
}

.story_text_box.left:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #e0e0e0;
    width: 0.1rem;
    height: auto;
    bottom: 0.2rem;
    top: 3rem;
    right: 0;
}
#guitar {
	position: absolute;
	width: 27rem;
	right: 13rem;
	bottom: -18rem;
	z-index: 2;
	transition-duration: 2s;
}
/**readers_voice**/
#readers_voice {
	background-image: url(img/bg--gray.png);
	position: relative;
}

.readers_voice_top_container {
	text-align: center;
}
.readers_voice_top_title span.h1_component {
	line-height: 8rem;
}
.readers_voice_top_title span{
	font-size: 7rem;
}

.readers_voice_top_text {
/*	clear: both;*/
	font-weight: bold;
	font-size: 1.5rem;
	padding-top: 3rem:
	transition-duration: 2s;
}
.readers_voice_top_text span {
	border-bottom: 1px solid #000;
}

.readers_voice_main_container {
	margin-top: 3rem;
	padding: 0 5rem;
}
.readers_voice_main_inner_container {
	width: calc(100% + 5rem);
	overflow: hidden;
}
.voice_box {
	width: calc(50% - 5rem);
	background-color: #fff;
	border: 1px solid #E0E0E0;
	float: left;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
	margin-bottom: 4rem;
	margin-right: 5rem;
	transition-duration: 2s;
}
.voice_box.hide {
	display: none;
}
.voice_text{
	padding: 3rem;
	border-bottom: 1px solid #E0E0E0;
}
.voice_name {
	text-align: right;
	padding: 3rem;
}
.deco_left {
	position: absolute;
	top: 12rem;
	left: 16rem;
	font-size: 20rem;
	z-index: 2;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	transition-duration: 2s;
}
.deco_right {
	position: absolute;
	right: 16rem;
	bottom: 5rem;
	font-size: 20rem;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	transform: rotate(180deg);
	transition-duration: 2s;
}
.open_button {
	display: block;
	margin: 0 auto;
	clear: both;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	width: 22rem;
	padding: 1.5rem 3rem 1.5rem 2rem;
	font-size: 1.6rem;
	position: relative;
	cursor: pointer;
	transition-duration: 2s;
}
.open_button.open {
	display: none;
}

.open_button:hover:before{
	-webkit-animation-name: inout;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: inout;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
}
.open_button::before,
.open_button::after{
	position: absolute;
	top: 0;
	right: 1rem;
	bottom: 0;
	margin: auto;
	content: "";
	color: #000;
	vertical-align: middle;
}

.open_button::before{
width: 1.5rem;
height: 1.5rem;
-webkit-border-radius: 50%;
border-radius: 50%;
background: #fff;
}
.open_button::after{
	content: "+";
	color: #000;
	font-weight: bold;
	width: 0.6rem;
	height: 0.6rem;
	bottom: 2.7rem;
	right: 1.6rem;
}
.open_button.creator_open {
	margin-top: 2rem;
}

@-webkit-keyframes inout{
  50%   { transform: scale(1.2); }
  100%  { transform: scale(1); }
}

#pen {
	position: absolute;
	width: 30rem;
	right: -13rem;
	bottom: 30rem;
}
#pen img {
	transition-duration: 2s;
}

/**message**/
#message {
	position: relative;

}
.message_main {
	width: 60rem;
	height: 70rem;
	background: url(img/bg--message.png) no-repeat;
	background-size: 100% auto;
	float: left;
	text-align: center;
	position: relative;
	padding: 2rem;
	transition-duration: 2s
}
.message_main h1 {
}
.h1_large {
	font-size: 6rem;
	font-weight: bold;
	background: #fff;
}
.remainder {
	background: #fff;
}
.message_main p {
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}
#paper-airplane {
	position: absolute;
	right: 45rem;
	bottom: 13rem;
	width: 20rem;
}
.message_sub {
	width: calc(40% - 6rem);
	float: left;
	margin-left: 6rem;
	margin-top: 10rem;
	transition-duration: 2s;
}
.message_sub_amazon_button {
	background: linear-gradient(#f7dfa5, #f0c14b);
border-color: #ae8f41;
color: #211f1c;
width: 100%;
}

/**profile**/
#profile {
	width: 100%;
}
#profile div.main_container {
	padding: 0 17rem 10rem 17rem;
}

.profile_main {
	padding-top: 10rem;
	width: 100%;
	transition-duration: 2s;
}
.profile_main_inner {
	width: 100%;
}
.border_dash {
	width: 100%;
	height: 1rem;
	background: url(img/bg--dashed.png) 0 50% repeat-x;
}
.profile_main_img {
	width: 40%;
	float: left;
	text-align: center;
	position: relative;
}
.profile_main_img h1 {
	position: absolute;
	top: -3.5rem;
	left: 6rem;
}
/*.profile_main_img img {
	position: absolute;
	top: 3.5rem;
	left: 0;
	z-index: -1;
}*/
.small {
	font-size: 1.8rem;
}

.profile_main_text {
	width: calc(60% - 4rem);
	float: left;
	overflow: hidden;
	margin: 6rem 0 0 4rem;
	font-size: 1.6rem;
}

/**profile_works**/
.profile_works {
	width: 100%;
	text-align: center;
	margin-top: 5rem;
}
.profile_works_inner {
	width: 100%;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	position: relative;
	transition-duration: 2s;
}

.profile_works h1 {
	font-size: 1.8rem;
	font-weight: bold;
	position: absolute;
	top: -1.5rem;
	width: 13rem;
	background: #fff;
	left: calc(50% - 6.5rem);
}
.profile_works_img {
	margin-top: 5rem;
}
.profile_works_img li{
	width: 15rem;
	margin-right: 1rem;
	display: inline-block;
}
.profile_worls_link {
	display: block;
	text-align: right;
	padding-right: 3rem;
	font-size: 1.5rem;
	position: relative;
}
.profile_worls_link::before,
.profile_worls_link::after{
	position: absolute;
	top: 0;
	right: 1rem;
	bottom: 0;
	margin: auto;
	content: "";
	vertical-align: middle;
}

.profile_worls_link::before{
width: 1.5rem;
height: 1.5rem;
-webkit-border-radius: 50%;
border-radius: 50%;
background: #000;
}

.profile_worls_link::after{
right: 1.3rem;
width: 0.5rem;
height: 0.5rem;
border-top: 0.2rem solid #fff;
border-right: 0.2rem solid #fff;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}

/**profile_mail**/
.profile_mail {
	width: 100%;
	padding: 10rem 25rem 0 25rem;
}
.profile_mail_inner {
	width: 100%;
	padding: 2rem;
	border: 1px solid #E0E0E0;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	text-align: center;
	position: relative;
	transition-duration: 2s;
}
.mail_img {
	position: absolute;
	width: 8rem;
	top: -5rem;
	left: 7rem;
}
.profile_mail_inner h2 {
	position: absolute;
	top: -2rem;
	left: calc(55% - 12rem);
	width: 24rem;
	font-size: 2rem;
	background: #fff;
}
.profile_mail_inner p {
	font-size: 1.5rem;
	margin: 2rem 0;
}

/**creator**/
#creater {
	width: 100%;
	background-image: url(img/bg--gray.png);
}
.creator_top {
	width: 100%;
	position: relative;
}
.creator_top img {
	width: 50rem;
	transition-duration: 2s;
}
.creator_top_text {
	position: absolute;
	right: 0;
	top: 30%;
	transition-duration: 2s;
}
.creator_top_text h1 {
	font-size: 5rem;
	padding-left: 6rem;
}
.creator_top_text p {
	font-size: 1.5rem;
}
.creator_top_text_white {
	background: #fff;
}
.underline {
	border-bottom: 1px solid #000;
}

.creator_profiles {
	width: 100%;
	margin-top: 6rem;
}
.creator_box {
	width: calc(50% - 1.5rem);
	margin: 3rem 3rem 0 0;
	border: 1px solid #E0E0E0;
	background-color: #fff;
	float: left;
	transition-duration: 2s;
}
.creator_box:nth-of-type(2n) {
	margin-right: 0;
}
.creator_box.hide {
	display: none;
}
.creator_box_text {
	padding: 2rem;
}
.creator_name {
	font-size: 1.7rem;
}
.creator_name span{
	border-bottom: 2px solid #000;
}
.creator_info {
	margin-top: 2rem;
	font-size: 1.5rem;
}
/**sns**/
#sns {
	width: 100%;
	background-image: url(img/bg--dark-gray.png);
}
#sns_border {
	width: 100%;
	height: 0.5rem;
	background-image: url(img/delimiter.png);
}
.sns_left {
	width: 50%;
	border: 1px solid #000;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	position: relative;
	background: url(img/bg--note-pc.png) no-repeat;
	background-size: 100% auto;
	background-color: #fff;
	transition-duration: 2s;
}
.sns_left_inner {
	width: 100%;
	padding: 3rem;
	text-align: center;
}
#heart {
	position: absolute;
	width: 4rem;
	top: -1.5rem;
	left: calc(50% - 2rem);
}
.sns_left_mail p {
	font-size: 1.5rem;
}
.sns_left_mail .info_sub_button{
	width: 25rem;
}
.sns_left_inner h2 {
  font-family: "07YasashisaAntique", serif;
	font-weight: normal;
	font-size: 2rem;
	background: url(img/bg--dashed.png) 0 50% repeat-x;
}
.sns_left_inner h2 span {
	background: #fff;
}
.sns_left_account ul li{
	padding-top: 1rem;
}
.sns_left_account ul li a {
	width: 25rem;
}
a.twitter {
  background-color: #1da1f2;
  border-color: #1da1f2;
  color: white;
}
a.line {
  background-color: #35bc28;
  border-color: #20a214;
	color: white;
}
a.cakes {
	background-color: #feda17;
  border-color: #e4c208;
}
a.note {
	background-color: #2bc5a5;
  border-color: #16b392;
  color: white;
}

/**footer**/
#footer {
	background-color: #000;
}
#footer .main_container {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.footer_left {
	float: left;
	color: #f2f2f2;
	position: relative;
	width: 50%;
}
.footer_img {
	display: table-cell;
	vertical-align: bottom;
	padding-right: 2rem;
}
.footer_left img {
	width: 18rem;
	vertical-align: bottom;
}
.footer_left_info {
	display: table-cell;
	vertical-align: bottom;
}
.credit {
	font-size: 1.2rem;
	padding-top: 2rem;
}

.footer_right {
	width: 50%;
	float: left;
}
.footer_right_box {
	border-top: 1px solid #f2f2f2;
	width: 35%;
	padding: 2rem 4rem;
	text-align: center;
	float: left;
}
.footer_right_box:first-of-type {
	margin-right: 5rem;
}
.footer_right_box h2 {
	padding: 0;
	color: #f2f2f2;
	font-size: 2rem;
}
.footer_right ul li {
	padding-left: 2rem;
	text-align: left;
}
.footer_right ul li a {
	color: #767676;
	font-size: 1.2rem;
}

@media only screen and (max-width: 1279px) {
	body {
		font-size: 1.4rem;
	}
	.main_container {
		padding: 3rem 2rem;
		overflow: hidden;
	}
	a:hover {
		opacity: 1;
	}

	#nav_sp {
		visibility: visible;
		top: 0;
		left: 0;
		position: fixed;
		background: #fff;
		width: 100%;
		height: 6rem;
		z-index: 10;
	}
	#nav_sp_Container {
		width: 100%;
	}
	#toggle_nav_sp,
	#toggle_nav_sp span {
		display: inline-block;
		transition: all .4s;
	}
	#toggle_nav_sp {
		position: absolute;
		top: 2rem;
		left: 1rem;
		width: 2.4rem;
		height: 1.8rem;
		z-index: 2;
	}
	#toggle_nav_sp span {
		position: absolute;
		left: 0;
		width: 2.4rem;
		height: 0.2rem;
		background-color: black;
		border-radius: 4px;
	}
	#toggle_nav_sp span:nth-of-type(1) {
		top: 0;
	}
	#toggle_nav_sp span:nth-of-type(2) {
		top: 0.8rem;
	}
	#toggle_nav_sp span:nth-of-type(3) {
		top: 1.6rem;
	}
	#toggle_nav_sp.open span:nth-of-type(1) {
		-webkit-transform: translateY(20px) rotate(-45deg);
		transform: translateY(0.8rem) rotate(-45deg);
	}
	#toggle_nav_sp.open span:nth-of-type(2) {
		opacity: 0;
	}
	#toggle_nav_sp.open span:nth-of-type(3) {
		-webkit-transform: translateY(-20px) rotate(45deg);
		transform: translateY(-0.8rem) rotate(45deg);
	}
	#button_nav_sp {
		display: inline-block;
		position: absolute;
		top: 1rem;
		right: 1rem;
		text-align: right;
	}


	#nav_menu_sp{
		visibility: visible;
		opacity: 0;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 3;
		width: 100%;
		height: 100%;
		padding: 6rem 0 5rem 0;
		transition: all 0.1s ease-in-out;
    background-color: rgba(255, 255, 255, 0.94);
		}
	#nav_menu_sp.open{
		opacity: 1;
	}
	#nav_menu_sp ul {
		width: 100%;
		padding: 0 30rem;
	}
	#nav_menu_sp ul li {
		width: 100%;
		font-size: 2rem;
		text-align: center;
		padding-top: 1rem;
		border-bottom: 1px solid #f2f2f2;
		color: #000;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	}
	#nav_menu_sp a {
		display: block;
		color: #000;
	}
	#nav_menu_sp p {
		position: absolute;
		bottom: 3rem;
		width: 100%;
		padding: 0 3rem;
	}
	/**header**/
	#nav_menu_pc {
		display: none;
	}
	/**main**/
	h1 {
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
		font-size: 3rem;
		transition-duration: 2s;
	}
ｓ	h2 {
		font-size: 2.5rem;
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
	}
	.button:hover .arrow{
		-webkit-animation-name: none;
	  -webkit-animation-iteration-count: 0;
	  -moz-animation-name: none;
	  -moz-animation-iteration-count: 0;
	}

	/**top**/
		#top {
			padding: 30% 0;
			margin-top: 0;
		}

	/**info**/

	/**story**/
	#story {
		padding: 0;
	}
	#guitar {
		display: none;
	}
	/**readers_voice**/
	.readers_voice_top_title span.h1_component {
		line-height: normal;;
	}
	.readers_voice_top_title span{
		font-size: 3rem;
	}

	.readers_voice_main_container {
		padding: 5rem 2rem 0 2rem;
	}
	.voice_text{
		padding: 2rem;
	}
	.voice_name {
		padding: 2rem;
	}
	.deco_left {
		top: 9rem;
		left: 1rem;
		font-size: 15rem;
	}
	.deco_right {
		right: 1rem;
		bottom: 2rem;
		font-size: 15rem;
	}

	.open_button:hover:before{
		-webkit-animation-name: none;
	  -webkit-animation-iteration-count: 0;
	  -moz-animation-name: none;
	  -moz-animation-iteration-count: 0;
	}
	#pen {
		display: none;
	}

	/**message**/
	#message {
		position: relative;
	}
	.message_main {
		width: 100%;
		height: auto;
		background: none;
		clear: both;
	}
	.message_main br {
		display: none;
	}
	.message_main h1 {
		text-align: center;
	}
	.message_main p {
		text-align: left;
	}
	.h1_large {
		font-size: 4rem;
	}
	#paper-airplane {
		display: none;
	}
	.message_sub {
		width: 100%;
		clear: both;
		padding: 0 30%;
		text-align: center;
		margin-left: 0;
		margin-top: 0;
	}
	.message_sub_amazon_button {
		width: calc(100% + 4rem);
		margin-left: -2rem;
	}

	/**profile**/
	#profile {
		width: 100%;
	}
	#profile div.main_container {
		padding: 0;
	}

	.profile_main {
		padding-top: 0;
		margin-top: 5rem;
		width: 100%;
	}

	.profile_main_img {
		width: 100%;
		clear: both;
		padding: 0 10rem;
	}
	.profile_main_img h1 {
		left: 35%;
	}

	.profile_main_text {
		width: 100%;
		clear: both;
		padding: 0 15rem;
		margin: 3rem 0 0 0;
		font-size: 1.6rem;
	}

	/**profile_works**/
	.profile_works_img li{
		width: 12rem;
	}

	/**profile_mail**/
	.profile_mail {
		width: 100%;
		padding: 10rem 15rem 0 15rem;
	}
	.mail_img {
		position: absolute;
		width: 5rem;
		top: -3rem;
		left: 9rem;
	}
	.profile_mail_inner h2 {
		left: calc(55% - 11rem);
		width: 22rem;
		font-size: 1.8rem;
	}

	/**creator**/
	.creator_top {
		text-align: center;
	}
	.creator_top img {
		position: absolute;
		width: 30rem;
		top: 5rem;
		left: calc(50% - 15rem);
	}
	.creator_top_text {
		position: relative;
	}
	.creator_top_text h1 {
		font-size: 3rem;
		padding-left: 0;
	}

	.creator_profiles {
		margin-top: 3rem;
	}
	.creator_info {
		font-size: 1.3rem;
	}

	/**footer**/
.footer_left_info a {
	width: 100%;
	padding: 1rem 3rem 1rem 1rem;
	font-size: 1.2rem;
}
	.footer_right {
		width: 50%;
		margin-top: 3rem;
		float: left;
	}
	.footer_right_box {
		width: 100%;
		padding: 2rem 4rem;
		clear: both;
		text-align: left;
	}
	.footer_right_box:first-of-type {
		margin-right: 5rem;
	}
	.footer_right_box h2 {
		padding: 0;
		color: #f2f2f2;
		font-size: 2rem;
	}
	.footer_right ul li {
		padding-left: 2rem;
		text-align: left;
	}
	.footer_right ul li a {
		color: #767676;
		font-size: 1.2rem;
	}

	@media only screen and (max-width: 767px) {
		.main_container {
			padding: 3rem 2rem;
			overflow: hidden;
		}
		.button {
			font-size: 1.2rem;
		}

		#nav_sp {
			height: 5rem;
		}
		#toggle_nav_sp {
			top: 1.3rem;
			left: 1rem;
			width: 2rem;
		}
		#toggle_nav_sp span {
			width: 2rem;
		}
		#toggle_nav_sp span:nth-of-type(1) {
			top: 0;
		}
		#toggle_nav_sp span:nth-of-type(2) {
			top: 0.6rem;
		}
		#toggle_nav_sp span:nth-of-type(3) {
			top: 1.2rem;
		}
		#button_nav_sp {
			top: 0.5rem;
			right: 1rem;
		}


		#nav_menu_sp{
			padding: 0;
			padding: 5rem 5rem 0 5rem;
			transition: all 0.1s ease-in-out;
	    background-color: rgba(255, 255, 255, 0.94);
			}
		#nav_menu_sp ul {
			width: 100%;
			padding: 0;
		}
		#nav_menu_sp p {
			position: absolute;
			bottom: 3rem;
			left: 0;
			padding: 0 3rem;
		}

		/**main**/
		h1 {
			font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
			font-size: 3rem;
			transition-duration: 2s;
		}
		h2 {
			font-size: 2rem;
		}
		.button:hover .arrow{
			-webkit-animation-name: none;
		  -webkit-animation-iteration-count: 0;
		  -moz-animation-name: none;
		  -moz-animation-iteration-count: 0;
		}

		/**top**/
			#top {
				padding: 30% 0;
				margin-top: 3rem;
			}
			#title {
				font-weight: bold;
				font-size: 4rem;
			}
			#author {
				font-size: 2rem;
			}

		/**info**/
		#info_main_container {
			width: 100%;
			padding: 0 1rem;
		}
		.info_sub_box {
			width: 100%;
		}
		.info_sub_box p {
			font-size: 1.2rem;
		}
		.info_sub_box_img {
			top: 40%;
		}

		/**story**/
		#story {
			padding: 0;
		}
		.story_text_box {
			width: 100%;
			padding: 0 1rem;
		}
		.story_text_box:nth-of-type(2) {
			margin-top: 2rem;
		}

		#guitar {
			display: none;
		}
		/**readers_voice**/
		.readers_voice_top_title span.h1_component {
			line-height: 3rem;
		}
		.readers_voice_top_title span{
			font-size: 3rem;
		}

		.readers_voice_top_text {
			font-size: 1.2rem;
		}

		.readers_voice_main_container {
			padding: 0;
		}
		.readers_voice_main_inner_container {
			width: 100%;
		}
		.voice_box {
			width: 100%;
			margin-bottom: 3rem;
			font-size: 1.2rem;
		}
		.voice_text{
			padding: 2rem;
		}
		.voice_name {
			padding: 2rem;
		}
		.deco_left {
			top: 10rem;
			left: 0;
			font-size: 12rem;
		}
		.deco_right {
			right: 0;
			bottom: 2rem;
			font-size: 12rem;
		}

		/**message**/
		.message_main {
			padding: 0;
		}
		.message_main h1 {
			text-align: center;
		}
		.message_main p {
			text-align: left;
		}
		.h1_large {
			font-size: 3rem;
		}
		.remainder {
			font-size: 2rem;
		}

		.message_sub {
			padding: 0 5rem;
			margin-top: 3rem;
		}

		/**profile**/
		#profile {
			width: 100%;
		}
		#profile div.main_container {
			padding: 0;
		}

		.profile_main {
			padding-top: 0;
			margin-top: 5rem;
			width: 100%;
		}

		.profile_main_img {
			width: 100%;
			clear: both;
			padding: 0 2rem;
		}
		.profile_main_img h1 {
			left: 20%;
		}

		.profile_main_text {
			padding: 0 2rem;
			font-size: 1.2rem;
		}

		/**profile_works**/
		.profile_works_img li{
			width: 10rem;
		}
		.profile_works_img li:nth-of-type(4) {
			display: none;
		}
		.profile_works_img li:nth-of-type(5) {
			display: none;
		}

		/**profile_mail**/
		.profile_mail {
			width: 100%;
			padding: 8rem 2rem 0 2rem;
		}
		.mail_img {
			position: absolute;
			width: 5rem;
			top: -3rem;
			left: 3rem;
		}
		.profile_mail_inner h2 {
			left: calc(55% - 9rem);
			width: 18rem;
			font-size: 1.5rem;
		}
		.profile_mail_inner p {
			font-size: 1.2rem;
			margin: 1rem 0;
		}

		/**creator**/
		.creator_top img {
			position: absolute;
			width: 25rem;
			top: 5rem;
			left: calc(50% - 12.5rem);
		}
		.creator_top_text {
			position: relative;
			text-align: left;
		}
		.creator_top_text h1 {
			font-size: 2.5rem;
			padding-left: 0;
			text-align: center;;
		}

		.creator_box {
			width: 100%;
			margin: 2rem 2rem 0 0;
		}
		.creator_box_text {
			padding: 1rem 2rem;
		}
		.creator_name {
			font-size: 1.5rem;
		}
		.creator_info {
			margin-top: 2rem;
			font-size: 1.2rem;
		}

		.creator_profiles {
			margin-top: 2rem;
		}
		.creator_info {
			font-size: 1.3rem;
		}

/**SNS**/
		.sns_left {
			width: 100%;
		}
		.sns_left_inner {
			width: 100%;
			padding: 3rem;
			text-align: center;
		}
		.sns_left_mail p {
			font-size: 1.2rem;
		}

		/**footer**/
		#footer .main_container {
			padding-top: 3rem;
			padding-bottom: 5rem;
		}
		.footer_left {
			width: 100%;
		}
		.footer_img {
			padding-right: 2rem;
		}
		.footer_left img {
			width: 15rem;
		}

	.footer_left_info a {
		width: 15rem;
		padding: 0.5rem 3rem 0.5rem 2rem;
		font-size: 1.2rem;
	}
		.footer_right {
			width: 100%;
		}
		.footer_right_box {
			width: 100%;
			padding: 2rem 4rem;
			clear: both;
			text-align: left;
		}
		.footer_right_box:first-of-type {
			margin-right: 5rem;
		}
		.footer_right_box h2 {
			padding: 0;
			color: #f2f2f2;
			font-size: 2rem;
		}
		.footer_right ul li {
			padding-left: 2rem;
			text-align: left;
		}
		.footer_right ul li a {
			color: #767676;
			font-size: 1.2rem;
		}
