@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

#arrange ol {
	font-size: 1.8rem;
	border-bottom: 1px solid #cbcbcb;
}
#arrange ol li {
	width: 10%;
}
#arrange ol li a {
	padding: 3rem;
	border-right: 1px solid #cbcbcb;
	border-top: 1px solid #cbcbcb;
	display: block;
}
#arrange ol li a.large {
	padding: 3rem 1rem;
	font-size: 1.6rem;
}
#arrange ol li:first-of-type {
	border-left: 1px solid #cbcbcb;
}

@media only screen and (max-width: 1279px) {
	#arrange ol {
		font-size: 1.5rem;
	}

	#arrange ol li {
		width: 25%;
		font-size: 1.3rem;
	}
	#arrange ol li a.large {
		padding: 2rem 0.5rem;
	}

	#arrange ol li a {
		padding: 2rem;
		border-right: 1px solid #cbcbcb;
		border-top: 1px solid #cbcbcb;
		display: block;
	}
	#arrange ol li a.touch {
		background: #000;
		color: #fff;
		opacity: 1;
	}
	#arrange ol li:first-of-type {
		border-left: 1px solid #cbcbcb;
	}

@media only screen and (max-width: 767px) {
	#arrange ol li a {
		padding: 2rem 1rem;
	}
	#arrange ol li a.large {
		font-size: 1.3rem;
		padding: 2rem 0rem;
	}
