@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border: 0;
  font-size: 100%
}
* {
	box-sizing: border-box;
	list-style-type: none;
}

html {
	font-size: 62.5%;
}
body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
  list-style-type: none;
	letter-spacing: 0.2rem;
	font-size: 1.4rem;
	margin: 0;
	background-image: url(img/32897cca2bac3f60bd0a06ae60281dc7.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}
a {
  text-decoration: none;
  color: black;
	cursor: pointer;
	display: block;
}
a.white {
	color: #fff;
}
a.gnav_link {
	font-weight: bold;
transition: ease;
	padding: 1rem;
	font-size: 1.6rem;
}
a.gnav_link.delay {
	background-color: #000;
	color: #A9A9A9;
}
a.type-1 {
	transition-duration: 0.2s;
}
a.type-1:hover {
	opacity: 0.5;
}
a.type-2 {
	transition-duration: 0.2s;
}
a.type-2:hover {
	color: #A9A9A9;
}
a.no-block {
	display: inline;
}

/**共通**/

.section_container {
	padding: 0 3rem;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

#all_container {
	margin: 0 7.4rem;
	background-color: #fff;
}

.hide {
	display: none;
}

h2 {
	font-size: 3rem;
	color: #fff;
}
.box h2 {
	font-size: 2rem;
}
.box h2.large {
	font-size: 4rem;
}
h3 {
	font-size: 2rem;
	font-family: 'Montserrat', sans-serif;
}
.sub_title {
	padding-top: 3rem;
	font-weight: bold;
	color: #696969;
}
.updated{
	font-size: 1.2rem;
	color: #fff;
	font-weight: bold;
}

span.section_title {
	font-size: 3rem;
	color: #000;
	position: absolute;
	top: -2rem;
	background-color: #fff;
}
.title_border {
	position: relative;
	border-top: 4px solid #161616;
}

/**search**/
#search {
	padding: 2rem 0;
	text-align: right;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
}
/*#layer{
	display: none;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:black;
	filter:alpha(opacity=68);
	opacity: 0.80;
	z-index: 30;
}
#search_box {
	position: fixed;
	top: 50%;
	z-index: 50;
}
.close {
	text-align: right;
	color: #fff;
	font-size: 4rem;
	z-index: 50;
}
.close i {
	color: #fff;
}*/
/**logo**/
#logo {
	text-align: center;
}
.logo_img {
	width: 30rem;
}

/**nav**/
.gnav_list {
	width: 100%;
	text-align: center;
	border-bottom: 2px solid #161616;
}
.gnav_list li{
	margin-right: 2.5rem;
	display: inline-block;
}
.gnav_modal {
	background-color: #000;
	position: absolute;
	z-index: 2;
	left: 0;
	width: 120rem;
	margin: 0 7.4rem;
	padding: 4rem 3rem;
}
.gnav_modal.hide {
	display: none;
}
.gnav_modal_top h2{
	float: left;
	color: #fff;
	font-weight: normal;
}
.all_link {
	color: #fff;
	font-size: 2rem;
	float: right;
}

.gnav_modal_list {
	text-align: left;
}
.gnav_modal_list li {
	display: inline-block;
	vertical-align: top;
}
.gnav_modal_list li:last-of-type {
	margin-right: 0;
}

.gnav_modal_list_img_box {
	padding: 2rem 0;
}
.gnav_modal_list_text_box {
	width: 36rem;
	text-align: center;
	font-weight: bold;
	padding: 0 2rem;
}
.gnav_modal_list_text_box a{
	color: #fff;
}
.gnav_modal_list_text_box time {
	color: #777;
}

.gnav_modal_list_works {
	width: 100%;
	text-align: center;
}
.gnav_modal_list_works li {
	display: inline-block;
	margin-right: 0;
	width: 33%;
}
.gnav_modal_list_works li a{
	font-size: 1.8rem;
	font-weight: bold;
	color: #f2c231;
	padding-bottom: 5rem;
}

.gnav_hide {
	top: 0;
	left: 0;
	position: fixed !important;
	position: absolute;
	width: calc(100% - 20.8rem);
	z-index: 3;
	display: none;
	margin-left: 10.4rem;
	background: rgba(255, 255, 255, 0.8);
}
.gnav_hide_logo {
	padding: 1rem;
	width: 10rem;
	float: left;
}
.gnav_hide_logo.move {
/*	-webkit-animation-name: move;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: move;
  -moz-animation-duration: 0.2s;
  -moz-animation-iteration-count: 1;*/
		transition: 0.5s;
	transform: translate(1rem,0);
	-webkit-transform: translate(1rem,0);
}
/*@-webkit-keyframes move{
  0%{
    -webkit-transform:translate(-1rem, 0px);
  }
  100%{
    -webkit-transform:translate(5rem, 0px);
  }
}*/

.gnav_hide .gnav_modal {
	margin-left: -3rem;
}
/**top**/
#top {
	padding: 3rem 0;
}
.box {
	position: relative;
	border: 1px solid #fff;
	float: left;
}
.box a:hover .box_img {
	filter: brightness(20%);
}
.box_img {
	transition-duration: 0.3s;
	filter: brightness(60%);
}
.box_text {
	position: absolute;
	bottom: 3rem;
	width: 100%;
	padding: 2rem;
}
.box_text.middle {
	top: 30%;
	text-align: center;
}
.box_text div{
	font-weight: bold;
	color: #fff;
}

/**news**/
#news {
	padding: 3rem 0;
}
.carousel_wrap {
	position: relative;
	width: 100%;
	margin-top: 5rem;
}
.carousel {
	width: 100%;
	overflow: hidden;
}
.carousel_inner {
	width: 1000rem;
}
.page_buton {
	position: absolute;
	top: 0;
	right: 2px;
}
.page_buton li{
	float: left;
	background: rgba(255, 255, 255, 0.8);
	opacity: 1;
	color: #000;
	cursor: pointer;
	width: 5rem;
	height: 5rem;
}
.page_buton i {
	font-size: 3rem;
	padding: 1rem 2rem;
	opacity: 1;
}
.page_buton li:hover {
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
}

/**column**/
#column {
	padding: 3rem 0;
}
#column .carousel_wrap {
	margin-top: 3rem;
}

/**works**/
#works {
	padding: 3rem 0;
}
.works_list {
	margin-top: 5rem;
}
.works_list h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

/**sub**/
#sub {
	padding: 3rem 0;
}
#sub .section_container {
	position: relative;
}
#news_list {
	float: left;
	width: 65%;
}
.news_list_box {
	padding: 3rem 0;
	border-bottom: 1px solid #f2f2f2;
}
.news_list_img {
	float: left;
	padding-top: 1rem;
	padding-right: 3rem;
}
.news_list_img a {
	transition-duration: 0.2s;
}
.news_list_img a:hover {
	filter: brightness(30%);
}

.news_list_text {
	float: left;
	width: 58%;
}
.news_list_text a {
	font-size: 2rem;
	font-weight: bold;
	padding: 1rem 0;
}
.news_list_text .updated {
	color: #696969;
	padding: 1rem 0;
}
.news_list_text p {
	padding: 1rem 0;
	text-indent: 1rem;
}
.news_list_text ul {
	padding: 1rem 0;
	width: 100%;
}
.news_list_text ul li {
	display: inline-block;
	background-color: #D3D3D3;
}
.news_list_text ul li a{
	padding: 0.5rem;
	font-size: 1.2rem;
	color: #696969;
	background-color: #D3D3D3;
	transition-duration: 0.2s;
}
.news_list_text ul li a:hover {
	background-color:#696969;
	color: #fff;
}
.news_list_paging {
	width: 100%;
	text-align: center;
	padding-top: 3rem;
}
.news_list_paging li {
	display: inline-block;
	padding-right: 1rem;
}
.news_list_paging li a {
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	border: 1px solid #000;
	transition-duration: 0.2s;
	font-weight: bold;
}
.news_list_paging li a.current {
	background-color: #000;
	color: #fff;
}
.news_list_paging li a:not(.current):hover {
	background-color:#696969;
	color: #fff;
}

#latest_news {
	float: left;
	margin-left: 3rem;
	width: calc(35% - 3rem);
	background-color: #f2f2f2;
}
.latest_news_container {
	padding: 3rem;
}
#latest_news h2.latest_news_title {
	font-size: 2rem;
	color: #000;
}
#latest_news h2.latest_news_title span {
	padding-bottom: 1rem;
	border-bottom: 3px solid #000;
}
#latest_news .box {
	padding-top: 3rem;
	border: none;
}
#latest_news .box h2{
	font-size: 1.5rem;
}
#latest_news .box.last-pre {
	position: relative;
}

/**footer**/
#footer {
	padding-top: 3rem;
	background-color: #000;
}
.footer_container {
	padding: 3rem;
	color: #fff;
	text-align: center;
}
#footer a:hover {
	opacity: 0.7;
}
.footer_top_logo img{
	width: 15rem;
}
.footer_list {
	width: 100%;
	text-align: center;
	padding-top: 2rem;
}
.footer_list li{
	display: inline-block;
	margin-right: 3rem;
}
.footer_list li a {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.sns_container {
	padding-top: 3rem;
}
.sns_list {
	width: 100%;
	margin-top: 3rem;
}
.sns_list a {
	background-image: url(img/cb-widget-social-media-colors.png);
	background-repeat: no-repeat;
	width: 5rem;
	height: 5rem;
	display: inline-block;
	margin-right: 3rem;
  transition: all 0.2s;
}
.sns_list a:hover {
	transform: translate(0, -0.5rem);
	-webkit-transition: all 0.2s;
	-transition: all 0.2s;
	transition: all 0.2s;
}
.sns_list a.insta {
	background-position: -12.9rem 0;
}
.sns_list a.facebook {
}
.sns_list a.twitter {
	background-position: -6.4rem 0;
	margin-right: 0;
}

.official_twitter {
	margin-top: 4rem;
}
.official_twitter a {
	margin-top: 3rem;
}

.official_page {
	margin: 5rem 0;
}
.official_page a {
	margin-top: 3rem;
}
.official_page img {
	width: 70rem;
}

a.top_move {
	color: #fff;
	display: inline;
	font-size: 3.5rem;
}
a.top_move i {
	border: 2px solid #fff;
	border-radius: 50%;
	height: 6rem;
	width: 6rem;
	padding-top: 1rem;
}
.top_move i:hover {
	transform: translate(0, -0.5rem);
	-webkit-transition: all 0.2s;
	-transition: all 0.2s;
	transition: all 0.2s;
}

.footer_last {
	margin-top: 5rem;
font-family: 'Montserrat', sans-serif;
font-size: 1.2rem;
opacity: 0.7;
}

@media only screen and (max-width: 1279px) {
	body {
		font-size: 1.4rem;
	}
#logo {
	display: none;
}
#gnav {
	display: none;
}
#all_container {
	margin: 0;
}
.section_container {
	padding: 0;
}

/**top**/
.box {
	position: relative;
	border: 1px solid #fff;
	float: left;
}
.box a:hover .box_img {
	filter: brightness(60%);
}
.box_img {
	width: 100%;
	height: auto;
	filter: brightness(60%);
}
.box_text {
	position: absolute;
	bottom: 3rem;
	width: 100%;
	padding: 2rem;
}
.box_text.middle {
	top: 30%;
	text-align: center;
}
.box_text div{
	font-weight: bold;
	color: #fff;
}
